<html>

<head>
    <title>Player Creation</title>
</head>

<body>
    <h1>
        <%= header %> Player
    </h1>
    <form action="/<%= action %>" method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required <% if (playerName){ %> value="<%= playerName %>" <% }
                %>
                ><br>
                <h2>Server (Pick at least one)</h2>
                <% serverArr.forEach((server, i)=> { %>
                    <input type="checkbox" id="server<%=i %>" name="server" value="<%=server %>" <% if
                        (playerServers.includes(server)){ %> checked <% } %>>
                        <label for="server">
                            <%= server %>
                        </label>


                        <% }) %>
                            <input type="submit" value="Submit">
    </form>
</body>

</html>