<html>

<head>
    <title><%- title %></title>
</head>

<body>
    <ul>
        <% players.forEach((player)=> { %>
            <li>Username: <%- player.username %>
                    <% if(player.servers !=null){ %>Servers: <%- player.servers %>
                            <% } %><a href="<%= route %>/<%= player.username %>"><%- routeText %>
                                        <%= player.username %></a></li>

            <% }) %>
    </ul>
</body>

</html>