<html>

<head>
    <title>
        <%= contentAdded %> Added
    </title>
</head>

<body>
    <h1>
        <%= contentAdded %> was successfully added
    </h1>
    <a href="<%= route %>">Add another <%=contentAdded %>
    </a>
    <a href="/<%= viewContent %>">View All <%=contentAdded %>s</a>
    <a href="/">Return Home</a>
</body>

</html>